table, th, td {
  border: 1px solid black;
  font-family: Calibri;
}
tr.link-row:hover {
  background-color: #005C8A;
  cursor: pointer;
  color: white;
}
pre {
  white-space: pre-wrap;
  padding: 5px 15px;
}
.content-div {
  width: 60%;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #CCCCCC;
}
/* The hero image */
.hero-image {
  background-image: url("images/giggleme-header.jpg");

  /* Set a specific height */
  height: 200px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

textarea {
  resize: none;
}
/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

button {
  background-color: #005C8A;
  border: 3px solid #005C8A;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  border: 3px solid #002C4A;
}
button:disabled,
button[disabled]{
  background-color: #DDDDDD;
  cursor: default;
}
.footer {
  font-family: Calibri;
  font-size: 20px;
}
